{% extends 'grant.html.twig' %}

{% block title %}New Product{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">New product</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="{{ path('app_product_index') }}">Product</a></li>
        <li class="breadcrumb-item active">New</li>
    </ol>

    {{ include('product/_form.html.twig') }}
</div>
{% endblock %}
